//
//  StagingConfig.xcconfig
//  SnackOverflowApp
//
//  Created by タイン・グエン on 2023/01/08.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "BaseConfig.xcconfig"

PRODUCT_DISPLAY_NAME = $(inherited) STAGING
PRODUCT_ICON = AppIconStaging
PRODUCT_BUNDLE_IDENTIFIER = com.ds.StackOverflowApp.stg
PRODUCT_BASE_URL = http:\/\/snackoverflow.com/api/stg
